
    <div class="panel-body">
        <form name="theForm" class="col-lg-8 form-horizontal" role="form">
            <div class="alert alert-danger"
                 ng-show="errorMessage">
                {{errorMessage}}
            </div>
            <div class="form-group"
                 ng-class="{'has-error': vm.application.Name.$invalid}">
                <label class="col-lg-2 control-label">Name</label>
                <div class="col-lg-8">
                    <input type="text"
                           name="title"
                           class="form-control"
                           ng-model="vm.application.Name"
                           ng-required="true"
                           ng-minlength="3"
                           ng-maxlength="20"/>                      
                    <div ng-show="vm.application.Name.$error.required"
                         class="alert alert-danger">
                        A name is required!
                    </div>
                    <div ng-show="vm.application.Name.$error.minlength"
                         class="alert alert-danger">
                        A name should be more that two characters!
                    </div>
                    <div ng-show="vm.application.Name.$error.maxlength"
                         class="alert alert-danger">
                        The maximum length of a name is 20 characters!
                    </div>
                </div>
            </div>
            <div class="form-group"
                 ng-class="{'has-error': vm.application.Description.$invalid}">
                <label class="col-lg-2 control-label">Description</label>
                <div class="col-lg-8">
                    <textarea type="text"
                              name="description"
                              class="form-control"
                              rows="10"
                              ng-model="vm.application.Description"
                              ng-required="true"></textarea>
                    <div ng-show="vm.application.Description.$error.required"
                         class="alert alert-danger">
                        A description is required!
                    </div>
                </div>
            </div>

            <div class="form-group"
                 ng-class="{'has-error': vm.application.URL.$invalid}">
                <label class="col-lg-2 control-label">URL</label>
                <div class="col-lg-8">
                    <input type="text"
                           name="title"
                           class="form-control"
                           ng-model="vm.application.URL"
                           ng-maxlength="1024">
                    <div ng-show="vm.application.URL.$error.maxlength"
                         class="alert alert-danger">
                        The maximum length of a movie title is 1024 characters!
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-lg-offset-2 col-lg-8">
                    <button ng-click="vm.saveApplication(theForm)"
                            ng-disabled="theForm.$pristine || theForm.$invalid"
                            class="btn btn-primary">
                        Save
                    </button>
                    <button ng-click="vm.deleteApplication(theForm)"
                            class="btn btn-primary">
                        Delete
                    </button>
                    <button ng-click="vm.cancelApplication()"
                            class="btn btn-warning">
                        Cancel
                    </button>
                </div>
            </div>
        </form>
    </div>
