<div class="panel-body">
    <form name="theForm" class="col-lg-12 form-horizontal" role="form">
        <div class="alert alert-danger"
             ng-show="errorMessage">
            {{errorMessage}}
        </div>
        <div class="form-group"
             ng-class="{'has-error': vm.connectionn.Name.$invalid}">
            <label class="col-lg-4 control-label">Connection Name</label>
            <div class="col-lg-8">
                <input type="text"
                       name="title"
                       class="form-control"
                       ng-model="vm.connection.Name"
                       ng-required="true"
                       ng-minlength="3"
                       ng-maxlength="20" />
                <div ng-show="vm.connection.Name.$error.required"
                     class="alert alert-danger">
                    A name is required!
                </div>
                <div ng-show="vm.connection.Name.$error.minlength"
                     class="alert alert-danger">
                    A name should be more that two characters!
                </div>
                <div ng-show="vm.connection.Name.$error.maxlength"
                     class="alert alert-danger">
                    The maximum length of a name is 20 characters!
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-lg-4 control-label">Connection Template</label>
            <div class="col-lg-8">
                <select
                    class="form-control"
                    ng-model="vm.connectionTypeId"
                    ng-required="false"
                    ng-change="vm.connectionTypeChange()">
                        <option ng-repeat="option in vm.connectionTypes" value="{{option.ID}}" >{{option.Name}}</option>
                </select>
            </div>
        </div>

        <div class="form-group"
             ng-class="{'has-error': vm.connection.ProviderName.$invalid}">
            <label class="col-lg-4 control-label">Provider Name</label>
            <div class="col-lg-8">
                <input type="text"
                       name="title"
                       class="form-control"
                       ng-model="vm.connection.ProviderName"
                       ng-required="false"
                       ng-minlength="3"
                       ng-maxlength="20" />
                <div ng-show="vm.connection.ProviderName.$error.required"
                     class="alert alert-danger">
                    A name is required!
                </div>
                <!--<div ng-show="vm.connection.ProviderName.$error.minlength"
                     class="alert alert-danger">
                    A name should be more that two characters!
                </div>
                <div ng-show="vm.connection.ProviderName.$error.maxlength"
                     class="alert alert-danger">
                    The maximum length of a name is 20 characters!
                </div>-->
            </div>
        </div>

        <div class="form-group"
             ng-class="{'has-error': vm.connection.ConnectionString.$invalid}">
            <label class="col-lg-4 control-label">Connection String</label>
            <div class="col-lg-8">
                <textarea type="text"
                          name="description"
                          class="form-control"
                          rows="4"
                          ng-model="vm.connection.ConnectionString"
                          ng-required="true"></textarea>
                <div ng-show="vm.connection.ConnectionString.$error.required"
                     class="alert alert-danger">
                    A description is required!
                </div>
            </div>
        </div>

        <div class="form-group"
             ng-class="{'has-error': vm.connection.Password.$invalid}">
            <label class="col-lg-4 control-label">Password (optional)</label>
            <div class="col-lg-8">
                <input type="password"
                       name="title"
                       class="form-control"
                       ng-model="vm.connection.Password"
                       ng-required="false"
                       ng-minlength="3"
                       ng-maxlength="20" />
                <!--<div ng-show="vm.connection.Password.$error.required"
                     class="alert alert-danger">
                    A name is required!
                </div>
                <div ng-show="vm.connection.Password.$error.minlength"
                     class="alert alert-danger">
                    A name should be more that two characters!
                </div>
                <div ng-show="vm.connection.Password.$error.maxlength"
                     class="alert alert-danger">
                    The maximum length of a name is 20 characters!
                </div>-->
            </div>
        </div>

        <div class="form-group"
             ng-class="{'has-error': vm.verifyPAssword.$invalid}">
            <label class="col-lg-4 control-label">Password (verify)</label>
            <div class="col-lg-8">
                <input type="password"
                       name="title"
                       class="form-control"
                       ng-model="vm.verifyPassword"
                       ng-required="false"
                       ng-minlength="3"
                       ng-maxlength="20" />
                <!--<div ng-show="vm.connection.Password.$error.required"
                     class="alert alert-danger">
                    A name is required!
                </div>
                <div ng-show="vm.connection.Password.$error.minlength"
                     class="alert alert-danger">
                    A name should be more that two characters!
                </div>
                <div ng-show="vm.connection.Password.$error.maxlength"
                     class="alert alert-danger">
                    The maximum length of a name is 20 characters!
                </div>-->
            </div>
        </div>

        <div class="form-group"
             ng-class="{'has-error': vm.connection.commandTimeout.$invalid}">
            <label class="col-lg-4 control-label">Command Timeout</label>
            <div class="col-lg-8">
                <input type="text"
                       name="title"
                       class="form-control"
                       ng-model="vm.connection.commandTimeout"
                       ng-maxlength="1024">
                <div ng-show="vm.connection.commandTimeout.$error.maxlength"
                     class="alert alert-danger">
                    The maximum length of a movie title is 1024 characters!
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-lg-4 control-label">Modified By</label>
            <div class="col-lg-8">
                {{vm.connection.ModifiedBy }} on {{vm.connection.ModifiedDate | date:'yyyy-MMM-dd' }}
            </div>
        </div>

    <div class="form-group">
        <label class="col-lg-4 control-label">Created By</label>
        <div class="col-lg-8">
            {{vm.connection.CreatedBy }} on {{vm.connection.CreatedDate |  date:'yyyy-MMM-dd' }}
        </div>
    </div>

    <div class="form-group">
            <div class="col-lg-offset-2 col-lg-8">
                <button ng-click="vm.save(theForm)"
                        ng-disabled="theForm.$pristine || theForm.$invalid"
                        class="btn btn-primary">
                    Save
                </button>
                <button ng-click="vm.cancel()"
                        class="btn btn-warning">
                    Cancel
                </button>
            </div>
        </div>
    </form>
</div>
