<div class="panel panel-primary">
    <div class="panel-heading" style="font-size: large">
        {{::vm.title}}
    </div>

    <div class="panel-body">
        <table class="table">
            <thead>
                <tr>
                    <td>Name</td>
                    <td>Description</td>
                    <td style="min-width: 150px">Created Date</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="app in vm.applications">
                    <td><a ng-href="#application/{{app.ID}}">{{ app.Name}}</a></td>
                    <td>{{app.Description}}</td>
                    <td>{{app.CreatedDate | date:'yyyy-MMM-dd'}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
